@import "tailwindcss";

@theme {
    --color-primary: oklch(0.2 0 0);
    --color-secondary: oklch(0.9 0 0);
    --color-border: oklch(0.5 0 0);
    --color-bshadow: oklch(0.3 0 0);
}

body > *{
    @apply py-6 px-[8%] md:px-[10%];
}